body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    min-height: 100vh
}

header {
    width: 100%;
    max-width: 1440px;
    height: 500px;
    box-sizing: border-box;
    padding: 37px 120px 37px 120px;
    background-color: #1F2041;
    font-family: Roboto;
    margin: 0 auto;
}

.top {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 42px;
}

.logo {
    flex: 1;
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    color: #ADB6C4;
    position: relative;
    z-index: 1002;
}

.logo span {
    color: #D4AF37;
}

/* Add a black background color to the top navigation */
.topnav {
    display: inline-block;
    overflow: hidden;
    gap: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    color: #ADB6C4;
}


.hero {
    font-family: League Gothic;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 100px auto;
    width: 100%;
}

.name {
    font-family: League Gothic;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 96px;
    text-align: center;
}

.job {
    font-family: League Spartan;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 36%;
    text-align: center;
    margin: 0px auto;
    max-height: 30px;
    width: 524px;
}

footer {
    max-width: 1440px;
    width: 100%;
    background-color: #1F2041;
    display: flex;
    justify-content: space-between;
    padding: 80px 120px;
    box-sizing: border-box;
    margin: 0 auto;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.footer-left a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    max-height: 22px;
    margin-bottom: 30px;
}

.footer-left a:last-child {
    margin-bottom: 0px;
}


.footer-left a.active {
    color: #ADB6C4;
}

.footer-right {
    font-family: Roboto;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #FFFFFF;
    padding: 176px 120px 60px 0px;
}

.footer .logo {
    font-family: Roboto;
    font-weight: 700;
    font-size: 27px;
    color: #ADB6C4;
}

.footer .logo span {
    color: #D4AF37;
}

#copy {
    color: #FFFFFF;
}

main {
    background-color: #FFFFFF;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.main-messages {
    max-width: 1200px;
    width: 100%;
}

.messageMain {
    margin: 65px 0px;
}

.messagesMainText {
    width: 100%;
    font-family: league Spartan;
    font-weight: 700;
    font-size: 16px;
    color: #1F2041;
}

/* Contact */
.contactPageView {
    max-width: 1200px;
    width: 100%;
    margin: 65px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contactTitle {
    width: 100%;
    font-family: League Spartan;
    font-weight: 700;
    font-size: 32px;
    color: #1F2041;
}

.contactRow {
    display: flex;
    width: 100%;
    gap: 80px;
}

.field {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.field label {
    font-family: League Spartan;
    font-weight: 700;
    font-size: 16px;
    color: #1F2041;
    margin-bottom: 16px;
}

.contactPageView .field {
    margin-top: 65px;
}

input,
textarea {
    border: none;
    border-bottom: 2px solid #1F2041;
    outline: none;
}

textarea {
    resize: none;
}

input::placeholder,
textarea::placeholder {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #7E7E7E;
}

#contactButton {
    width: 100%;
    height: 100%;
    max-width: 203px;
    max-height: 49px;
    margin: 65px auto;
    background-color: #ADB6C4;
    color: #1F2041;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    border: none;
    padding: 15px 49px 15px 49px;
    border-radius: 8px;
    cursor: pointer;
    gap: 24px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.error-message {
    font-family: Roboto;
    color: #AF0808;
    font-size: 12px;
    display: block;
}

.aboutPageView {
    max-width: 958px;
    width: 100%;
    margin: 84px auto;
}

.aboutPhoto {
    max-width: 958px;
    width: 100%;
    max-height: 311px;
    height: 100%;
    border-radius: 16px;
    margin: 0;
    object-fit: cover;
    object-position: top;
}

.aboutTitle {
    font-family: League Spartan;
    font-weight: 700;
    font-size: 32px;
    color: #1F2041;
    margin-top: 65px;
}

.aboutTextOne {
    margin-top: 17px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #1F2041;
}

.aboutButton {
    width: 100%;
    height: 100%;
    max-width: 240px;
    max-height: 60px;
    margin: 84px auto;
    background-color: #ADB6C4;
    color: #1F2041;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    border: none;
    padding: 15px 49px 15px 49px;
    border-radius: 8px;
    cursor: pointer;
    gap: 24px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: block;
}

.aboutButton svg {
    vertical-align: middle;
}



.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: #F9F9F9;
    max-width: 800px;
    width: 100%;
    max-height: 424px;
    height: 100%;
    padding: 60px 120px;
    position: relative;
    box-shadow: 0px 2px 4px 0px #00000040 inset;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
}

.close-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 0px 6px 0px 0px;
}

.modal input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #1F2041;
    margin-bottom: 20px;
    padding: 6px;
}

.add-btn {
    width: 100%;
    height: 100%;
    max-width: 240px;
    max-height: 60px;
    margin: 84px auto;
    background-color: #ADB6C4;
    color: #1F2041;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    border: none;
    padding: 15px 49px 15px 49px;
    border-radius: 8px;
    cursor: pointer;
    gap: 24px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: block;
}

.projectsPageView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectCard {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0)), url("./Pictures/b27b25472ee89116d5300e821d6701a7d7c7efdd.jpg");
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 460px;
    border-radius: 16px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: relative;
}

.projectCard h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    margin: 18px 30px 40px 30px;
}

.delete-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: #F9F9F9;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
}

.projectCard ul {
    list-style-type: disc;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

}

.tech-list {
    margin-top: 12px;
}

.tech-list li::marker {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: auto;
}

.tech-list li {
    padding: 0px 0px 18px 8px;

}

.projectsPageView>h3 {
    font-size: 32px;
    margin: 48px auto;
}

.homePageView {
    max-width: 958px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePageView img {
    max-width: 958px;
    width: 100%;
    max-height: 311px;
    height: 100%;
    border-radius: 16px;
    margin: 84px 241px 65px 241px;
    object-fit: cover;
    object-position: top;
}

.homeTitle {
    font-family: League Spartan;
    font-weight: 700;
    font-size: 32px;
    color: #1F2041;
    margin-bottom: 30px;
    align-self: flex-start;
}

.homeTextParagraph {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #1F2041;
    margin-bottom: 40px;
}

.homeSkills {
    max-width: 958px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 84px;
}

.skill {
    flex: 0 0 calc(25% - 20px);
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.skill img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    margin: 0px;
}

.skill-icon {
    display: flex;
    flex-direction: column;
}

.skill-icon h4 {
    margin: 6px 0px 4px 4px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #1F2041;
    align-self: start;
}

.skill-icon p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    color: #ADB6C4;
    align-self: start;
    margin: 0 0 0 4px;
}


.skill-dots {
    display: flex;
    gap: 6px;
    margin: 8px 0 0 4px;
}

.dot {
    width: 10px;
    height: 10px;
    border: 2px solid #1F2041;
    border-radius: 50%;
    background-color: transparent;
    margin: 0 2px;
}

.dot.filled {
    background-color: #1F2041;
}

.homeProjects {
    width: 1162px;
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 0 0 84px 0;
}

.homeProjects p {
    margin: auto;
    font-family: League Spartan;
    font-weight: 700;
    font-size: 32px;
}

.projectCard {
    width: 360px;
}

.homeButtonContainer {
    width: 175px;
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: 0 auto 84px auto;
}

.homeButtonContainer button {
    width: 60px;
    height: 60px;
    background-color: #ADB6C4;
    color: #1F2041;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: block;
}

.topnav .icon {
    display: none;
}


/*Responsywność*/

@media only screen and (max-width: 930px) {
    .hero .name {
        font-size: 72px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 10px 16px 0px;
        height: 500px;
        width: 100%;
    }

    main {
        margin: 84px auto 0px;
        width: 100%;
    }

    .homePageView {
        padding: 0px 16px 28px 16px;
        width: 95vw;
    }

    .homePageView img {
        max-width: none;
        max-height: none;
        overflow: hidden;
        padding-bottom: 65px;
        height: 311px;
        margin: 0 0 85px 0;
    }

    .homeTitle {
        margin-bottom: 17px;
    }

    .skill {
        width: 182px;
        height: 69px;
        margin: 0 auto 36px;
        flex: auto;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .skill-icon h4,
    .skill-icon p {
        margin: 0;
    }

    .skill img {
        min-width: 0;
        width: 64px;
        height: 64px;
        margin: 0 auto;
        padding: 0;
    }

    .skill-icon {
        width: 90%;
    }

    .homeSkills {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .homeProjects {
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 1px;
    }

    .projectCard {
        width: 300px;
        height: 460px;
    }



    .logo {
        color: #1F2041;
    }

    .hero .name {
        font-size: 96px;
    }

    .topnav .icon {
        position: fixed;
        top: 20px;
        right: 16px;
        z-index: 1001;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav a:not(.icon) {
        display: none;
    }

    .topnav {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        overflow: hidden;
    }

    .footer-left {
        display: none;
    }

    .footer-right {
        padding: 60px 18px;
    }

    footer .logo {
        color: #ADB6C4;
    }

    footer {
        justify-content: center;
        padding: 0;
        font-family: Roboto;
        font-weight: 700;
        font-size: 16px;
    }

    .topnav.responsive a.icon {
        position: absolute;
        left: 73.5%;
        top: 10px;
    }

    .topnav.responsive {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #1F2041;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        z-index: 999;
        margin-top: 10px;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        padding: 15px 120px;
        text-align: left;
    }

    .projectsPageView {
        flex-direction: column;
        align-items: center;
    }

    .aboutPageView {
        width: 95%;
    }

    .contactPageView {
        width: 95%;
        margin: auto;
    }

    .contactRow {
        flex-direction: column;
        gap: 0;
    }

    .main-messages {
        width: 95%;
    }

}

.hamburger-icon {
    color: #ffffff;
    /* domyślny kolor */
}

.topnav.responsive .hamburger-icon {
    color: #D4AF37;
    /* kolor po kliknięciu */
}